body {
  margin: 0;
  background-color: #fff5ea;
}
img {
  display: block;
  margin: auto;
  max-width: 35%;
}

h1 {
  text-align: center;
  font-size: 2rem;
}
a {
  display: flex;
  justify-content: center;
}
