* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  outline: none;
  border: none;
}

.hor-rule {
  width: 4rem;
  height: 4px;
  background-color: #478ac9;
  margin: 30px auto;
}

/* Header - navigacija */

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5rem;
}

header img {
  width: 80%;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 2rem;
}

nav ul a {
  text-decoration: none;
  color: black;
}

nav ul a:hover {
  color: brown;
}

/* Sekcija 1 - hero sekcija */

.section1 {
  background-image: url(./slike/section1-pozadina.png);
  height: 90vh;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.section1-content {
  flex-basis: 40%;
  margin-right: 40%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

.btn1 {
  background-color: #478ac9;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
  margin-top: 1.2rem;
  font-size: 1.1rem;
}

.btn1:hover {
  background-color: #387cbd;
  color: #e6e6e6;
}

/* Sekcija 2 */

.section2 {
  display: flex;
}

.section2-content {
  padding: 15% 0;
  text-align: center;
  flex-basis: 100%;
  background-color: #f1c50e;
}

.section2-content:nth-child(2) {
  background-color: #db545a;
  color: white;
}

.btn2 {
  background-color: #adcce9;
  padding: 10px 30px;
  margin-top: 30px;
  font-size: 1.1rem;
  cursor: pointer;
}

/* Sekcija 3 i 4 */

.section3,
.section4 {
  display: flex;
  background-color: #2cccc4;
  padding-left: 2rem;
}

.section4 {
  background-color: #f1c50e;
  padding-left: 0;
}

.section3-content,
.section4-content {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section4-content {
  padding-left: 2rem;
}

.section3 .hor-rule,
.section4 .hor-rule {
  margin-left: 0;
}

.section3 img,
.section4 img {
  flex-basis: 67%;
}

.section3 button,
.section4 button {
  align-self: flex-start;
}

@media all and (max-width: 1400px) {
}
